// Variables

$search-height: 8%;
$category-list-height: 12%;
$profile-height: 9%;
$messages-dashboard-height: 100% - $search-height - $category-list-height - $profile-height;

// Servers Dashboard
$servers-dashboard-width: 75px;
$card-icon-size: 60px;
$card-icon-border-radius: 50%;

// Server Dashboard
$server-dashboard-width: 250px;
$server-background-color: rgb(39, 38, 38);
$category-item-width: 90%;
$category-item-border-radius: 10px;
$category-item-color: #9c9c9c;
$category-item-color-hover: rgb(207, 207, 207);
$category-item-background-color-hover: rgb(71, 70, 70);
$category-item-padding: 10px;